/*
    ÁREA RESPONSIVA CELULAR ↴
*/ 

@media (max-width: 600px) {

    /*
        ÁREA PLANOS ↴
    */

    body {
        width: 100%;
        height: 100%;
        overflow: none;
    }

    .basico, .padrao{
        padding-bottom: 50px;
    }

    .premio {
        padding-bottom: 100px;
    }
}