@media (max-width: 750px) {

    /*
    FUNDO ↴
    */

    body {
    overflow-y: visible;
}

    /*
        ÁREA PLANOS ↴
    */

    .basico, .padrao{
        padding-bottom: 50px;
    }

    .premio {
        padding-bottom: 50px;
    }

    /*
        ÁREA CRIADO POR ↴
    */

    .created_by {
        padding-top: 0px;
        padding-bottom: 20px;
    }
}