/*
    CSS GERAL ↴
*/

* {
    box-sizing: content-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-image: url(https://luizfelipe9627.github.io/plan-page/images/fundo.jpg);
    background-size: cover;
    background-position: center;
}

/*
    CSS ÁREA PLANOS ↴
*/

article .planos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 70px;
    text-align: center;
}

article .planos a {
    text-decoration: none;
}

article .basico {
    display:block;
    width: 300px;
    height: 450px;
    padding-right: 10px;
}

article .padrao {
    width: 300px;
    height: 450px;
    padding-right: 10px;
}

article .premio {
    width: 300px;
    height: 450px;
    padding-right: 10px;
}


/*
    CSS ÁREA PLANOS TITULO ↴
*/


article .titulo_top1 {
    font-size: 25px;
    font-weight: bold;
    border-top: 3px solid #6AC075;
    color: #62C268;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

article .titulo_top2 {
    font-size: 25px;
    font-weight: bold;
    border-top: 3px solid #575698;
    color: #575698;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

article .titulo_top3 {
    font-size: 25px;
    font-weight: bold;
    border-top: 3px solid #1E81D4;
    color: #1E81D4;
    background-color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

/*
    CSS ÁREA PLANO VALORES ↴
*/


article .valor1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: #62C268;
    padding-top: 7px;
    padding-bottom: 7px;
}

article .valor2 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: #575698;
    padding-top: 7px;
    padding-bottom: 7px;
}

article .valor3 {
    color: white;
    font-size: 25px;
    font-weight: bold;
    background-color: #1E81D4;
    padding-top: 7px;
    padding-bottom: 7px;
}

/*
    CSS ÁREA BOTÕES ↴
*/ 


article .area_botao1 {
    background-color: white;
    width: 300px;
    height: 80px;
    padding-top: 30px;
    border-bottom: 3px solid #6AC075;
}

article .botao1 {
    border-radius: 5px;
    padding: 8px;
    width: 80px;
    border: 2px solid #62C268;
    color: #62C268;
    margin-left: 100px;
    font-weight: bold;
}

article .botao1:hover {
    background-color: #62C268;
    color: white;
    font-size: 17px;
}

article .area_botao2 {
    background-color: white;
    width: 300px;
    height: 80px;
    padding-top: 30px;
    border-bottom: 3px solid #575698;
}

article .botao2 {
    border-radius: 5px;
    padding: 8px;
    width: 80px;
    border: 2px solid #575698;
    color: #575698;
    margin-left: 100px;
    font-weight: bold;
}

article .botao2:hover {
    background-color: #575698;
    color: white;
    font-size: 17px;
}

article .area_botao3 {
    background-color: white;
    width: 300px;
    height: 80px;
    padding-top: 30px;
    border-bottom: 3px solid #1E81D4;
}

article .botao3 {
    border-radius: 5px;
    padding: 8px;
    width: 80px;
    border: 2px solid #1E81D4;
    color: #1E81D4;
    margin-left: 100px;
    font-weight: bold;
}

article .botao3:hover {
    background-color: #1E81D4;
    color: white;
    font-size: 17px;
}


/*
    CSS ÁREA DESCRIÇÃO ↴
*/ 


article .descricao {
    color: rgb(27, 27, 27);
    padding-bottom: 10px;
    padding-top: 10px;
    font-size: 14px;
}

article .descricao:nth-child(2n+1) {
    background-color: #F7F7F7;
}

article .descricao:nth-child(2n) {
    background-color: #FFFFFF
}


/*
    CSS ÁREA RESPONSIVA ↴
*/ 


@media (max-width: 600px) {

    /*
    CSS ÁREA PLANOS ↴
    */


    article .basico, .padrao{
        padding-bottom: 50px;
    }

    article .premio {
        padding-bottom: 100px;
    }
}